@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./variable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.page {
  @apply bg-main;
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  padding: 1cm 1.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.experience p {
  padding: 10px 0;
}
.experience ul {
  padding-left: 16px;
  list-style-type: circle;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .navbar {
    display: none;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
